<div class="container">
  <button type=button class="btn btn-light" (click)="goToFiles()"><u>Go to files</u></button>
  <button type=button class="btn btn-light" (click)="openFileDialog()"><u>Open file</u></button>
  <form [formGroup]="addForm" autocomplete="off" novalidate (ngSubmit)="submitForm(addForm.value)">
    <div class="form-group">
      <textarea id="txt" class="form-control" formControlName="txt" placeholder="Enter your text" requered
        autofocus></textarea>
      <small class="text-danger" *ngIf="(hasError('txt', 'required') && addForm.controls['txt'].dirty)">Field is
        required</small>
      <p></p>
      <input type="text" id="name" class="form-control" formControlName="name" placeholder="File name" requered />
      <small class="text-danger" *ngIf="(hasError('name', 'required') && addForm.controls['name'].dirty)">Field is
        required</small>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid">Upload</button>
    </div>
  </form>
</div>